    <div class="container container-layout my-5">
        <h3 class="container mt-3 mb-3">Iniciar Sesión</h3>
        <div class="container">
            <form action="/login" method="post">
                <input class="form-control my-2" type="text" name="username" placeholder="Correo Electrónico" required>
                <input class="form-control my-2" type="password" name="password" placeholder="Contraseña" required>
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary my-2">LOGIN</button>
                </div>
            </form>
            <div class="container text-center">
                <a href="/registro" class="btn btn-outline-success border border-0">Registrar nuevo usuario</a>
            </div>
        </div>
    </div>
