    <div class="container container-layout bg-info p-3 my-5" style="--bs-bg-opacity: .5;">
        <h3 class="container mt-3 mb-3">Hasta Luego {{firstname}}</h3>
        <div class="pt-3 d-flex flex-row-reverse">
            <a href="/login" class="btn btn-success">Volver a Loguearse</a>
        </div>
    </div>