<div class="container mt-3 mb-3 bg-success p-3 d-flex justify-content-between" style="--bs-bg-opacity: .5;">
    <h3>Bienvenida/o {{firstname}} ({{correo}})</h3>
    <a href="/logout" class="btn btn-danger">LOGOUT</a>
</div>
<h3 class="container mt-3 mb-3">Centro de Mensajes</h3>
<div class="container mt-3 mb-3" id="compresion"></div>
<div class="container">
    <form onsubmit="return addMsg(this)">
        <input class="form-control my-2" type="email" id="email" placeholder="nombre@mail.com" required>
        <input class="form-control my-2" type="text" id="nombre" placeholder="Nombre" required>
        <input class="form-control my-2" type="text" id="apellido" placeholder="Apellido" required>
        <input class="form-control my-2" type="number" id="edad" placeholder="Edad" required>
        <input class="form-control my-2" type="text" id="alias" placeholder="Alias" required>
        <input class="form-control my-2" type="text" id="url" placeholder="URL Avatar" required>
        <div class="container border chat-box overflow-auto" id="mensajes"></div>
        <div class="d-flex">
        <input class="form-control my-2 me-2" type="text" id="mensaje" placeholder="Ingresá un mensaje..." required>
        <button class="btn btn-primary my-2">ENVIAR</button>
        </div>
    </form>
</div>
<div class="container mt-3">
    <a href="/api/productos-test" class="btn btn-success">Ver Productos</a>
</div>